@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    padding: 0px;
    margin: 0px;
}
header{
    min-height: 30px;
    text-align: center;
    padding-top: 20px;
    background-color:black ;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > div > h1{
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    padding-bottom: 15px;
    font-weight: bolder;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.723);
    justify-content: center;
    display: flex;

}
header > h2{
    font-family:"gow" ;
    color: #A61B26;
}
header > div{
    display: flex;
    text-align: right; 
    justify-content: center;
}

ul{
    list-style: none;
    text-align: right;
}
ul.social{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: right;
    text-align: right;
    position: absolute;
    right: 10px;
    
}
header img{
    justify-content: right;
    width: 40px;
    margin: 20px 10px;
    border-radius: 50%;
    flex-wrap: wrap;
    text-align: right;
    box-sizing: border-box;
}
 a.icones > img:hover{
    border: 2px solid rgb(60, 60, 60);
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px white;
}




body{
    background-image: linear-gradient(to top, rgb(53, 53, 53), black);
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
    text-align: justify;
    font-size: 20px;
    color: black;
    font-style: normal;
    max-width: 1300px;
    min-width: 320;
    margin: auto;
    position: relative;
}
main{
    background-color:#f3f3f3;
    text-align: justify;
}
p{
    justify-content: center;
    text-indent: 20px;
}
@font-face {
    font-family:"gow";
    src: url(GODOFWAR.TTF);
}
.titulos{
    font-family:"gow" ;
    color: #A61B26;
    background-color: #54A1BF;
    padding: 5px;
    text-indent: 15px;
}
main > a{
    color:#A61B26 ;
    font-weight: bold;
    background-color: #396D73;
    border-radius: 3px;
    padding: 3px 3px 0px 3px;
}
main > a:hover{
    color: #396D73;
}
#games{
    background-color: #A61B26;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 4px;
}
div.video {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

div.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
}
#jogos{
    background-color: whitesmoke;
    border-radius: 4px;
    margin-top: 30px;
}
.outros{
    background-color: #A61B26;
    color: black;
}
main img{
    margin: auto;
    display: block;
}
.gow{
    margin: auto;
    display: block;
}
nav > a{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: .5s;

}
nav > a:hover{
    background-color: #54A1BF;
    color: #A61B26;
}
nav{
    padding: 20px;
}
aside{
    background-color: #396D73;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.464);
}
aside > ul {
    columns: 2;
}

